.navbar-brand{
    color: white; 
    background-color: #540101;
    font-size:x-large;
    padding:10px;
}
.navbar{
    background-color: #540101;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-link{
    color:white;
}