#time {
  margin: 5px 10%;
  /* border: 1px solid #000; */
  /* border-radius: 5px; */
  height: 40px;
  width: 150px;
  /* background: #f0f8ff; */
  font-size: smaller;
}

#clickMe {
  margin: 10px 10%;
}

/* body {
  padding: 0;
  margin: 0;
} */

body,
html {
  height: 100%;
  width: 100%;
}
#map {
  /* margin: 5px 10%; */
  border: 2px solid #000;
  /* border-radius: 5px; */
  height: 700px;
  width: 1300px;
  overflow: hidden;
  background: #f0f8ff;
}

.navbar-brand {
  color: #a60b0a;
  /* background-color: #dedede; */
  font-size: x-large;
  padding: 10px;
}
.navbar {
  background-color: #b0d4dc;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav-link {
  color: #a60b0a;
  font-size: large;
}

.legend {
  line-height: 25px;
  text-align: left;
  color: rgb(247, 226, 226);
  background-color: rgb(91, 116, 138);
  padding: 15px;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-right: 25px !important;
  opacity: 0.6;
}
.legend i {
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
  opacity: 0.6;
}

/* .leaflet-bar a,
.leaflet-bar a:hover {
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
}

/* @media (prefers-color-scheme: light) {
.leaflet-bar a,
.leaflet-bar a:hover {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	color: black;
        }
} */

/* @media (prefers-color-scheme: dark) {
  .leaflet-bar a,
  .leaflet-bar a:hover {
    background-color: #000;
    border-bottom: 1px solid #333;
    color: white;
  }
} */
