.navbar-brand {
    color: #a60b0a; 
    /* background-color: #dedede; */
    font-size:x-large;
    padding:10px;
}

.navbar {
    background-color: #b0d4dc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-link{
    color:#a60b0a;
    font-size: large;
}
#time {
    margin: 10px 10%;
    border: 2px solid #000;
    border-radius: 5px;
    height: 40px;
    width:150px;
    background: #f0f8ff;
  }
  
#clickMe {
    margin: 10px 10%;
  }
  
#map{
    height: 700px;
    width: 1300px;
    
}

body,html{
    height: 100%;
}

/* img.scaled{
  height: 50%;
  width: 50%;
} */
.carousel-item img {
  /* background-color: black; */
  object-fit: contain;
  object-position: center;
  height: 30vh;
  overflow: hidden;
}
.carousel-caption {
  position: relative;
  left: 0;
  top: 0;
}

.legend {
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    line-height: 24px;
    color: #555;
    border-radius: 8px;
}
.legend {
    line-height: 25px;
    text-align: left;
    color: #555;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    font-size: 22px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-right: 25px !important;
    opacity: 0.6;
  }

.legend h4 {
    text-align: center;
    font-size: 22px;
    margin: 2px 12px 8px;
    color: #555;
}
  
.legend span {
    position: relative;
    bottom: 3px;
}
  
.legend i {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    opacity: 0.6;
}

.gallery {
    background-color: #FFF8E2;
}

.card-header {
    background-color: grey;
}

#data-table {
    text-align: left;
}

#drop-down-card {
    text-align: center;
    background-color: white;
}

#white-header {
    background-color: white;
}
 
  .timelapse{
    background-color: #FFF8E2;
  }

 th {
    text-align: center;       
}

#selectYear {
    background-color: orange;

}