{% extends "base.html" %} 

{% block title %}Fourthendpoint{% endblock %} 

{% block head %} 

    {{ super() }}
    <h1>Welcome to Volcanoes Web!</h1>
    <style></style>

{% endblock %} 

{% block body %} 

        <h3>2020-2022</h3>
        <br><br>
        
        <table>
        {% for list in the_list %} 


            {% if (list.year >= 2020) and (list.year < 2023) %}
            <tr>
                <tr>
                    <td>ID: {{list.id}}</td>
                    <td>{{list.name}}</td>
                    <td>{{list.year}}</td>
                    <td>{{list.morphology}}</td>
                    <td>VEI: {{list.vei}}</td>
                    <td>DEATHS: {{list.deathsTotal}}</td>
                </tr>
            </tr>
            {% endif %}


        {% endfor %}
        </table>
              
        

{% endblock %}