<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Leaflet Step-1</title>

    <!-- Leaflet CSS -->

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.1/dist/leaflet.css"
      integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
      crossorigin=""
    />

    <!-- Leaflet JavaScript code -->
    <!-- Make sure you put this AFTER Leaflet's CSS -->

    <script
      src="https://unpkg.com/leaflet@1.9.1/dist/leaflet.js"
      integrity="sha256-NDI0K41gVbWqfkkaHj15IzU7PtMoelkzyKp8TOaFQ3s="
      crossorigin=""
    ></script>

    <!-- Our CSS -->

    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  </head>

  <body>
    <!-- The div that holds our map -->

    <div id="map"></div>

    <!-- D3 JavaScript -->

    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- <script>
      const dataUrl = { fifthendpoint };
    </script> -->

    <!-- Our JavaScript -->
    <!-- <script src="{{ url_for('static', filename='logic.js') }}"></script> -->

    <script type="text/javascript" src="static/js/logic.js"></script>
  </body>
</html>
