<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>21st Century Volcanic Eruptions</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

    <!-- Bootstrap stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/stylesheet.css">
    <!-- D3 Library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

</head>

<body>

     <!-- Navbar -->
     <nav class="navbar navbar-expand-lg">

        <a class="navbar-brand" href={{ url_for("index") }}>
            <img src="static/images/volcano.png" width="40" height="40" class="d-inline-block align-top" alt="">
            Explore Eruptions
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href={{ url_for("ServeVolcano") }}>Volcano Type</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href=#>Year</a>
            </li>
            </ul>
        </div>
    </nav>
   
    <!-- Cards  -->
    <div class="container data-cards">
        
        <!-- Row 1 -->
        <div class="row">

            <!-- Column 1 -->
            <div class="col-md-6">

                <!-- id=drop-down-card -->
                <div class="card text-center" id="drop-down-card">   
                    <div class="card-body">
                        <h5 class="card-title">Year</h5>                        
                        <select id="selectYear" onchange="newYearSelected(this.value)">                       
                        </select>
                    </div>              
                </div>

            </div>

            <!-- Column 2 -->
            <div class="col-md-6">

                <!-- id=data-table-card -->
                <div class="card text-center" id="data-table-card">        
                    <div class="card-body">                                              
                        <h5 class="heading">Data</h5>
                        <br> 
                        <div id="data-table"></div>
                    </div>
                </div>
            </div>     

        </div>

        <!-- Row 2 -->
        <div class="row">       
            
            <!-- Column 1 -->
            <div class="col-md-12">

                <!-- id=deaths-by-country-card -->
                <div class="card text-center" id="deaths-by-country-card">        
                    <div class="card-body">
                        <h5 class="heading">Deaths by Country</h5>
                        <br> 
                        <div id="deaths-by-country-barchart"></div>
                    </div>
                </div>
            </div>            
                      
        </div>
        
        <!-- Row 3 -->
        <div class="row">                
            
            <!-- Column 1 -->
            <div class="col-md-4">

                <!-- id=pie1-card -->
                <div class="card text-center" id="pie1-card">        
                    <div class="card-body">
                        <h5 class="heading">Pie 1</h5>
                        <br> 
                        <div id="pie1"></div>
                    </div>
                </div>
            </div>

            <!-- Column 2 -->
            <div class="col-md-4">

                <!-- id=pie2-card -->
                <div class="card text-center" id="pie2-card">        
                    <div class="card-body">
                        <h5 class="heading">Pie 2</h5>
                        <br> 
                        <div id="pie2"></div>
                    </div>
                </div>
            </div>

            <!-- Column 3 -->
            <div class="col-md-4">

                <!-- id=pie3-card -->
                <div class="card text-center" id="pie3-card">        
                    <div class="card-body">
                        <h5 class="heading">Pie 3</h5>
                        <br> 
                        <div id="pie3"></div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Row 4 -->
        <div class="row">             

            <!-- Column 1 -->
            <div class="col-md-12">
           
                <!-- id=r4-card -->
                <div class="card text-center" id="r4-card">        
                    <div class="card-body">
                        <h5 class="heading">Row 4 Card</h5>
                        <br>                          
                        <div id="row4viz"></div>
                    </div>
                </div>
            </div> 

        </div>

        
    </div>

    <!-- D3 Library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/js/year.js"></script>  
    
</body>

</html>